*{
    background:rgb(97, 204, 134);
   }
 h2{
    text-align: center;
    color:rgb(192, 216, 10);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

  }
  
 h1{
  color:rgb(234, 244, 32);
  text-shadow: 0cqmax;
  text-overflow: ellipsis;
  text-align:center;
  font-size: x-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .line{
    text-decoration-line: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h6{
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-small;
  }
  #name{
    text-align: right;
  }

  #photo{
    position: absolute;
  width: 25%;
  height: 25%;
  object-fit: cover;
  object-position: 50% 50%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
  top: 20px;
  left: 10px;
  font-size: 18px
  }